footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 23, 23);
}
footer h2{
    color: rgb(181, 34, 59);
    opacity: 55%;
}
footer p{
    font: 1em sans-serif;
    width: 800px;
    color:rgb(163, 163, 163);
    opacity:30%;
}
footer a{
    background: 0;
    color: red;
    text-decoration: none;
}
footer a:hover{
    color:rgb(201, 118, 17);
}